{% extends 'layout.html' %}

{%block content%}

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <img src="https://www.br.de/br-fernsehen/sendungen/wir-in-bayern/service/hund-strassenhund-ausland-mitbringen-petrick-102~_v-img__16__9__l_-1dc0e8f74459dd04c91a0d45af4972b9069f1135.jpg?version=2d87d" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://www.fressnapf.de/medias/hund-st-erstausstattung.jpg?context=bWFzdGVyfGltYWdlc3w2MDkxNnxpbWFnZS9qcGVnfGltYWdlcy9oNzkvaDQwLzk3NDI0MjcyOTE2NzguanBnfDY1OTk2YWZkZjY3NDY5Y2Y1ZmY2ODM3MTg3NmM5ZjA2NDk5NjMyZTE5N2NlZDBlN2MwZmQ0ZTVkMGFkNjU2NzE" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
    <div class="https://static2.businessinsider.de/image/5d171a3e7002b038030ea993-1400/hund%20dalmatiner%20welpe.png">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

{%endblock%}